*{
  margin:0;
  padding:0;
}
.main_bg{
  background:linear-gradient(120deg,rgba(196, 54, 4),rgba(239, 88, 33),rgba(253, 98, 42));

}
.main_bg .header{
  top:0;
  position: fixed;
  display:flex;
font-family: 'Mochiy Pop P One', sans-serif;
height:auto;
padding:6px;
width:100%;
  background-color:#05060b;
  color:white;
  margin-bottom:10px;
}
.main_bg .header .header_div{
  display: flex;
}
.main_bg .header #span{
  margin-top:1%;
  font-size:15px;
}
.main_bg .header #header_img{
width:7%;
}
.main_bg .header #header_bars{
width:25px;
margin-right:5px;
margin-top:15px;
}

.search {
  margin-top:20%;
}
.search .search-input{
  background-image: url("/img/search.png");
  background-repeat: no-repeat;
  border:2px solid black;
  background-size:20px 20px;
  background-position: center;
  background-position-x:right;
padding:8px;
width:95%;
}
.main .title{
    font-family: 'Noto Sans Telugu';
box-shadow:0 0 5px grey;
  width:80%;
  background-color:white;
  margin-top:4%;
display: flex;
flex-direction: column;
height:auto;
padding:6px;
}


.main .title div h3{
margin-top:1px;
  font-family: 'Noto Sans Telugu';
}
.main .title #center_child{
  display: flex;
  justify-content: space-between;
}
.main .title #center_child #child{
  margin-top:5%;
width:40%;
color:white;
border-radius:2px;
padding:4px;
  background:linear-gradient(120deg,rgba(196, 54, 4),rgba(239, 88, 33),rgba(253, 98, 42));
text-decoration: none;
border:2px solid black;
border-style: dashed;
}
.main .title #center_child #child:hover{
  transform:scale(0.9);
  background-color:black;
  color:white;
}
.main .title #center_child #child button{
color:white;
background:transparent;
font-family: 'Mochiy Pop P One', sans-serif;
  border:none;
}
@media(max-width:830px){
  .main_bg .header #header_img{
  width:16%;
  }
  .main_bg .header span{
    margin-top:6%;
    font-size:18px;
  }
}
