aside,footer{
  display: none;
}
@media(max-width:830px){



#footer{
  display:flex;
  background-color:white;
  justify-content:space-between;
  border-top:1px solid grey;
  position:fixed;
  z-index: 900;
  bottom:0;
  width:100%;
}
#footer{
padding:3px 0;
}
#home,.menu_bar{
  width:30px;
  margin-right:10px;
  margin-top: 3px;
}
.close_bar{
  width: 23px;
  margin-right: 14px;
  margin-top: 7px;
}

#footer .swiper-button-next{
  right:35%;
}
#footer .swiper-button-prev{
  left:35%;
}
aside {
  display: block;
  font-family: 'Mochiy Pop P One', sans-serif;
  position:fixed;
  z-index:900;
  width: 300px;
  height:100%;
  background: #383838;
  right: -300px;
  top: 0;
  box-sizing: border-box;
  padding-top: 70px;
  transition: all 0.5s ease;
}

.active {
  right:0;
}
aside a {
  padding: 1.2rem;
  text-decoration: none;
  font-size: 1rem;
  color: #818181;
  border-bottom: 1px solid #414141;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
nav ul li {
  /* Sub Menu */
}
nav ul li a {
	display:flex;
  justify-content: space-between;
	padding: 10px 15px;
	text-decoration: none;
	-webkit-transition: 0.2s linear;
	-moz-transition: 0.2s linear;
	-ms-transition: 0.2s linear;
	-o-transition: 0.2s linear;
	transition: 0.2s linear;
}

nav ul li a .fa {
	width: 16px;
	text-align: center;
	margin-right: 5px;
	float:right;
}
nav ul ul {
  color:black;
	background-color:#ebebeb;
}
nav ul li ul li a {
	background: #f8f8f8;
	border-left: 4px solid transparent;
	padding: 10px 20px;
}
nav ul li ul li a:hover {
	background: #ebebeb;
	border-left: 4px solid #3498db;
}

}
