<html lang="en">
<head>
<meta charset="UTF-8">
<meta
  name="viewport"
  content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"
/>
<link href='css/font.css' rel='stylesheet'/>
<link href='css/telugu.css' rel='stylesheet'/>
<link href='css/bg.css' rel='stylesheet'/>
</head>
<body class='main_bg'>
  <div class='image_bg'>
<a href="/te_Chapters" class="bg_te">భగవద్గీత తెలుగులో.. »</a>

  </div>
</body>
</html>
